*{margin: 0px;padding: 0px;}
body { width: 100%; }
.menu { list-style: none; display: inline-block;position: relative;width: 30%;left: 65%; }
.menu li { float: left; height: 30px; line-height: 30px; margin-left: 10px; }
.notelist { width: 100%; padding: 0px; }
.noteitem { width: 100%; }
.notetitle { background-color: rgb(29, 188, 209); margin: 10px 0;font-weight: bolder;font-size: 1.1em;}
.notecontent{padding: 10px;background-color: rgb(130, 168, 121);color: rgb(241, 241, 241);font-family: Microsoft Yahei;margin: 2px;cursor: pointer;}
.notecontent:hover{background-color: rgb(161, 165, 73) }
.current { background-color: rgb(161, 165, 73) }
.hide{display: none;}
.itemContent{padding: 10px;background-color: rgb(76, 171, 235);margin: 2px;}
.footline { height: 1px; border-top: 1px solid black; border-bottom: 2px solid black; margin-top: 50px; }
.foottext { text-align: center; }