* { font-size: 1.0em; font-family: 微软雅黑; }
textarea { height: 100px; }
.menu { list-style: none; height: 30px; line-height: 30px; margin-left: 120px; }
.menu li { float: left; position: relative; margin-left: 10px; }
.notetitle input{width: 90%;position: relative;left: 50%;-webkit-transform: translateX(-50%);border: 1px solid #22B9D6;margin-bottom: 10px;}
.footline { border-bottom: 2px solid black; border-top: 1px solid black; height: 1px; margin-top: 50px; }
.foottext { text-align: center; }
.con-operate{width: 100%;}
.con-operate input,.con-operate button{width: 40%;margin: 4%;background:-webkit-linear-gradient(top,#71c228, #75c92a);}
.con-content textarea{width: 90%;position: relative;left: 50%;-webkit-transform:translateX(-50%);border: 1px solid #22B9D6}