body{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
a,label,h2,p,button,input{
	font-family: 微软雅黑;
}
.header{
	width: 100%;
}
.menu{
	
}
.menulist{
	list-style: none;
	display: inline-block;
	position: relative;
	left: 20%;
}
.menulist li{
	float: left;
	margin-left: 10px;
}
.reg-title{
	font-size: 1.2em;
	padding: .5em .8em;
	line-height: 1.6em;
	margin: 0px;
}
.reg-form{
	background-color: #f3faff;
	padding: 20px;
}
.reg-form label{
	width: 100px;
	text-align: right;
	display: inline-block;
}
input[type="text"],input[type="password"]{
	height: 25px;
	border: 1px solid #acc3d7;
	-webkit-box-shadow:inset #bbb 0 1px 3px,#fff 1px 1px 0;
	-webkit-border-radius:5px;
	margin-top: 5px;
	width: 155px;
}
input[type="checkbox"]{
	margin-top: 10px;
}
.reg-sex{
	text-align: center;
}
.reg-validate input{
	width: 80px;
}
.reg-validate img{
	height: 25px;
	width: 80px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(25%);
}
.reg-submit{
	height: 30px;
	background: -webkit-linear-gradient(top, #71c228, #75c92a);
	width: 100%;
	margin-top: 20px;
}
.footline{
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	height: 1px;
}
.footer p{
	text-align: center;
}