<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%=: title %></title>
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<!-- Bootstrap -->
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
		<link href="/stylesheets/flexigrid.pack.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/icon.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/default/easyui.css">
		<script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
	</head>
	<body screen_capture_injected="true">