<% include header.html %>
<div style=" background-color: rgb(138, 138, 138); "><h3 class='text-algin'>Welcome <%= user.username %>, 欢迎登陆！！</h3></div>
<!--<div>
	<a claa="btn" href="/logout">退出</a>
	<button class="btn btn-primary" onclick="getinfo.getinfo('王杰');">获取数据</button>
	<button class="btn btn-primary" onclick="getSelected()">获取数据</button>
	<button class="btn btn-primary" onclick="getSelections()">获取数据</button>
</div>-->
<div class="container" style="width:100%;padding-left:10px;">
	<div class="easyui-layout" style="width:100%;height:550px;">
		<div region="west" split="true" title="统计人" style="width:200px;">
				<h2>统计人行者</h2>
		</div>
		<div id="content" region="center" title="统计信息" style="padding:5px;width:100%">
			<div class="easyui-tabs" style="width:1140px;height:450;">
				<div title="就餐人员信息" style="padding:10px;width:100%;">
						<table id="menudata" class="easyui-datagrid" title="就餐信息表" toolbar="#toolbar" style="width:1120px;height:440px" data-options="
									rownumbers:true,
									collapsible:true,
									singleSelect:true,
									autoRowHeight:false,
									pagination:true,
									pageSize:13">
							<thead>
								<th field="id" align="center" data-options="field:'itemid',width:180,halign:'center'">用户标识</th>
								<th field="nameP" align="center"  data-options="field:'itemid',width:180,halign:'center'">用户名</th>
								<th field="lovemenu" align="center"  data-options="field:'itemid',width:180,halign:'center'">钟爱菜单</th>
								<th field="lovefood" align="center"  data-options="field:'itemid',width:180,halign:'center'">钟爱食物</th>
								<th field="ownmoney" align="center"  data-options="field:'itemid',width:160,halign:'center'" editor="{type:'numberbox',options:{precision:1}}">费用基数</th>
								<th field="owemoney" align="center"  data-options="field:'itemid',width:100,halign:'center'" editor="{type:'numberbox',options:{precision:2}}">欠费</th>
								<th field="cost" width="100" align="center" editor="numberbox" formatter="formatPrice">本周余额</th>
							</thead>
						</table> 
					<div id="toolbar" >  
						<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addUser()">添加用户</a>
						<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑用户</a>
						<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteUser()">删除用户</a>
						<a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="editUser('money')">用户充值</a>
					</div>
				</div>
				<div title="就餐信息录入" closable="true" style="padding:10px;">
					<div id="cc1" class="easyui-layout" style="width:600px;height:450px;" fit="true">  
					    <div   data-options="region:'north',title:'选择今日就餐人',split:true" style="height:100px;">
					    	<ul id="todaystudent" ></ul>
					    	<button class="btn btn-primary" onclick="saveTodayStudent();" style="float:right;margin-right:10px;">保存</button>
					    </div>  
					    <div id="fooddate" data-options="region:'center',title:'今日菜单选择',split:true" style="height:300px%;">
					    	<div id = "menuContain" class="menuContain" style="width:30%;height:100%;border-right: 1px solid black;float:left;">
					    		<div id="menu" style="padding:0px;">
					    			<ul id = "menuname" style="margin:0px;width:100%;">  
					    			</ul>    
								</div> 
							</div>
							<div id = "menuContentInfo" class="menuContain" style="width:69%;height:100%;border-right: 1px solid black;float:right;">
								<div id="menuContent" style="padding:0px;display:inline-block;">
					    			<ul id = "menuInfo" style="margin:0px;width:100%;">  
					    				
					    			</ul>    
								</div> 
							</div>
					    </div>  
					</div>   
				</div>
				<div title="今日菜单" iconCls="icon-reload" closable="true" style="padding:10px;">
					<% include todaymenu.html %>
				</div>
			</div>
		
		</div>
	</div>
</div>
<!--对话框-->
<div id="dlg" class="easyui-dialog" modal=true style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
	<form id="fm" method="post">
		<div class="fitem">
			<label>用户名:</label>
			<input name="nameP" class="easyui-validatebox" required="true">
		</div>
		<div class="fitem">
			<label>用户余额:</label>
		<input name="ownmoney" class="easyui-validatebox" required="true">
		</div>
	</form>
</div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUserData()">Save</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
<!--自定义窗口-->
<div id="menuset" modal=true class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#dlg-buttons1">
	<div class="container" style="width:80%;">
		<div class="ftitle">User Information</div>
		<form id="fmMenu" method="post">
			<div class="fitem">
				<label>菜单名称:</label>
				<input name="nameP" class="easyui-validatebox" required="true" style="width:100%;">
			</div>
			<div class="fitem">
				<label>菜单标识:</label>
			<input name="foodId" class="easyui-validatebox" required="true" style="width:100%;">
			</div>
		</form>
	</div>
</div> 
<div id="dlg-buttons1">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveMenu()">Save</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#menuset').dialog('close')">Cancel</a>
</div>
<!--用户编辑框-->
<div id="winUserEidt" style="display:none;">
	<p>姓名</p>
	<input id="nameEdit" name="userNameP" value="请输入用户名" style=" color: rgb(134, 131, 131); " >
	<p>用户余额</p>
	<input id="owemoneyEdit" name="userOwemoney" value="请输入用户余额" style=" color: rgb(134, 131, 131); " >
	<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" id="edituserY" iconCls="icon-ok" onclick="saveUserData('edit')">Save</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
</div>
<% include footer.html %>