<% include ../basechips/header.ejs %>
<% include ../basechips/banner.ejs %>
<% include ../chiptools/headermenu.ejs %>
<style type="text/css">
	.people-info{
		width: 95%;
		margin: 0 auto;
		margin-top: 20px;
	}
	.people-left{
		width: 80px;
		display: inline-block;
	}
	.people-left img{
		height: 80px;
	}
	.people-right{
		display: inline-block;
		width: 70%;
		float: left;
	}
	.rightlist{
		list-style: none;
		display: inline-block;
		width: 100%;
	}
	.rightlist li{
		float: left;
		width: 90px;
		margin-top: 15px;
		margin-left: 10px;
	}
	.rightlist li:nth-child(3){
		width: 220px;
	}
	.people-contain{
		width: 95%;
		margin: 0 auto;
	}
	.people-items{
		list-style: none;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	.people-items li{
		float: left;
		width: 25%;
		background-color: rgb(118, 168, 214);
		font-size: 1.1em;
		line-height: 35px;
	}
	.people-contain ul{
		display: block;
		list-style: none;
	}
	.people-con{
		width: 100%;
		display: inline-block;
	}
	.people-con li{
		float: left;
		width: 25%;
		text-align: center;
	}
	.people-cons>li{
		margin-top: 8px;
		line-height: 30px;
	}
	.people-cons>li:nth-child(even){
		background-color: rgb(231, 240, 241);
	}
	.people-cons>li:nth-child(odd){
		background-color: rgb(205, 231, 247);
	}
</style>
<div class="main">
	<div class="people-info">
		<div class="people-left">
			<a href="#">
				<img src="./images/icons/people/user91.png">
			</a>
		</div>
		<div class="people-right">
			<ul class="rightlist">
				<li>
					<span id="peopleNameKey">贵名：</span>
					<span id="peopleNameValue">未知</span>
				</li>
				<li>
					<span>部门：</span>
					<span>未知</span>
				</li>
				<li>
					<span>电话：</span>
					<span>18511320825</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="people-contain">
		<ul class="people-items">
			<li class="people-item">日期</li>
			<li class="people-item">余额</li>
			<li class="people-item">待定</li>
			<li class="people-item">待定</li>
		</ul>
		<ul class="people-cons">
			<li class="people-con">
				<ul>
					<li>12-23</li>
					<li>$45</li>
					<li>未知</li>
					<li>未知</li>
				</ul>
			</li>
			<li class="people-con">
				<ul>
					<li>12-23</li>
					<li>$45</li>
					<li>未知</li>
					<li>未知</li>
				</ul>
			</li>
			<li class="people-con">
				<ul>
					<li>12-23</li>
					<li>$45</li>
					<li>未知</li>
					<li>未知</li>
				</ul>
			</li>
			<li class="people-con">
				<ul>
					<li>12-23</li>
					<li>$45</li>
					<li>未知</li>
					<li>未知</li>
				</ul>
			</li>
			<li class="people-con">
				<ul>
					<li>12-23</li>
					<li>$45</li>
					<li>未知</li>
					<li>未知</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<% include ../basechips/footer.ejs %>