<style type="text/css">
	.banner{
		text-align: center;
		background-color: rgb(93, 130, 187);
		width: 100%;
	}
	.banner h2{
		line-height: 45px;
		font-family: microsoft yahei;
		color: white;
	}
</style>
<div class="banner">
	<h2>个人网站</h2>
</div>