<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=divice-width,initial-scale=1.0,maxnum-scale=1.0,minnum-scale=1.0,user-scalable=no">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/notecss/noteregedit.css">
</head>

<body>
    <header class="header">
        <nav class="menu">
            <ul class="menulist">
                <li>中文简体</li>
                <li>繁体</li>
                <li>English</li>
            </ul>
        </nav>
    </header>
    <article class="bodyer">
        <div class="reg-cont">
        	<p class="reg-title">注册账号</p>
            <form class="reg-form">
                <div>
                    <span>基本信息</span>
                </div>
                <div class="reg-base">
                    <label>昵称：</label>
                    <input type="text" placeholder="请输入昵称">
                    <br>
                    <label>邮箱：</label>
                    <input type="text" placeholder="请输入邮箱">
                    <br>
                    <label>密码：</label>
                    <input type="password" placeholder="请输入密码">
                    <br>
                    <label>确认密码：</label>
                    <input type="password" placeholder="请再次输入密码">
                    <br>
                    <div class="reg-sex">
                        <input type="checkbox" name="sex" value="男">男
                        <input type="checkbox" name="sex" value="女">女
                    </div>
                </div>
                <div>
                    <span>详细信息</span>
                </div>
                <div class="reg-more">
                    <label>生日：</label>
                    <input type="date">
                    <br>
                    <label>所在地：</label>
                    <input type="text">
                </div>
                <div class="reg-validate">
                    <label>验证码：</label>
                    <input type="text" name="reg-validate" >
                    <img src="../../public/images/initify.jpg">
                </div>
                <input type="submit" value="立即注册" class="reg-submit">
            </form>
        </div>

    </article>
    <footer class="footer">
        <div class="footline"></div>
        <p>copyright 2014</p>
    </footer>
</body>

</html>
